<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Automation Test Suite">
    <test name="Web Tests">
        <classes>
            <class name="com.automationpro.SwagLabsLogin"/>
        </classes>
    </test>
    <test name="API Tests">
        <classes>
            <class name="com.automationpro.ReqResAPI"/>
        </classes>
    </test>
    <test name="Mobile Tests">
        <classes>
            <class name="com.automationpro.AndroidApp"/>
        </classes>
    </test>
</suite>
